DATABASE_URL="postgresql://admin:secret123@localhost:5434/economizeh_db?schema=public"
ENCRYPTION_KEY="my_encrypted_key"
SECRET_KEY="my_secret_key"
JWT_EXPIRATION="7d"
ALGORITHM = "correct_algorithm" 